/* =Elements
----------------------------------------------------------------------------- */
button {
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

pre {
  border: none;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li > ul {
  padding: 0 0 0 8px;
}

input {
  width: 98%;
}

#new-file {
  background: url(images/new-file.png) center no-repeat;
}

#new-folder {
  background: url(images/new-folder.png) center no-repeat;
}


/* =Directory listing
----------------------------------------------------------------------------- */
.new {
  display: none;
}

/* =Layout
----------------------------------------------------------------------------- */
#web-editor {
  margin: 20px auto;
  max-width: 1024px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#dir-listing {
  width: 200px;
  margin: 0 20px 0 0;
  overflow: auto;
  padding: 30px 6px 6px;
  border: solid 1px gray;
  position: relative;
}

#dir-controls {
  position: absolute;
  top: 2px;
  right: 6px;
}

#console {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#workspace {
  -webkit-box-flex: 1;
  border: solid 1px gray;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#info-pane {
  border-bottom: solid 1px gray;
  height: 12px;
  padding: 6px;
  min-height: 12px;
  font: 12px/12px helvetica, arial, sans-serif;
  color: #aaa;
  position: relative;
}

#edit {
  -webkit-box-flex: 1;
  width: 99%;
  height: 400px;
}

#editor-controls {
  position: absolute;
  top: 6px;
  right: 6px;
}

#input {border:none; margin:0; padding:0; font:14px 'Courier New',Verdana; border:0}
.te {width: 100%; border: font:12px Verdana,Arial;}
.te iframe {border:none}
.teheader {height:31px; border-bottom:1px solid #bbb; background:url(images/header-bg.gif) repeat-x; padding-top:1px}
.teheader select {float:left; margin-top:5px}
.tefont {margin-left:12px}
.tesize {margin:0 3px}
.testyle {margin-right:12px}
.tedivider {float:left; width:1px; height:30px; background:#ccc}
.tecontrol {float:left; width:34px; height:30px; cursor:pointer; background-image:url(images/icons.png)}
.tecontrol:hover {background-color:#fff; background-position:30px 0}
.tefooter {height:32px; border-top:1px solid #bbb; background:#f5f5f5}
.toggle {float:left; background:url(images/icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggle:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url(images/resize.gif) 15px 15px no-repeat; cursor:s-resize}
#editor {cursor:text; margin:10px}